body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
    
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;

}
.half-width img{
    width: 500px;
    height: 500px;
}
.top-banner{
   background-image: url("images/top-banner.png");
   background-repeat: no-repeat;
  
    
}
section{
    height: 500px ;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon , tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: whitesmoke ;
    font-weight: 700;


}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    
}

#lol img {
    height: 450Px;
    weight: 100%;
}
.single-experiance{
    box-shadow: 10px 10px 40px gray;
    border-radius:  5px;
    height:80;
    background-color: white;
}
.experiance-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
  
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient( 180deg, blue, cyan);
    border-image-slice: 1;
   
}
footer p{
    text-align: center;
    font-size: 13px;
}
#koi{
    font-family:'Galada', cursive;
    font-size: 18px;
}


/* responsive design */
@media screen and (min-width: 950px){
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
    }
     
    section {
        height: 500px;
    }

    .half-width {
        float: left;
        width: 40%;
        margin: 0 0 0 6%;
    }

    .btn {
        margin: 10px 0 0 0;
    }
    
    .d-none {
        display: block;
    }

    .single-experience {
        padding: 0 0;
        height: 350px;
    }

    #full-stack {
        margin-bottom: 0;
    }